
.page-header {
    background-color: #D4D4D4;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    /*margin-left: 40px;*/
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

/* Input */

#user input{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    content: "Username";
    width:100%;
}

#user input:before{
    content:"Username";
}

/* NavBar */ 
.navbar-default .navbar-toggle{
    margin-right:-118px;
}

.navbar-collapse{
    padding-left:0 !important;
}

/* Doctors */
.feature img{
width: 156px;
border-radius: 13px;
box-shadow: 1px 3px 6px #D9D9D9;
}

