{% extends 'crud/base.html' %}

{% block content %}

<!-- Start Doctor Detail Section -->       
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="about-text">
                <div class="row">
                <div class="col-md-9 col-sm-6">
                    <a href="/"><p>Back</p></a>
                    <a class="btn btn-default" href="{% url 'doctor_edit' pk=detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-default" href="{% url 'crud.views.doctor_delete' pk=detail.pk %}">delete</a>
                    <h3>{{ detail.title }}</h3>
                    <ul>
                    <li><i class="fa fa-angle-double-right"></i><strong>Specialty: </strong>{{ detail.specialty}}</li>
                    <li><i class="fa fa-angle-double-right"></i><strong>Description: </strong>{{ detail.text }}</li>
                    </ul>
                    <!-- <button type="button" class="btn btn-info" style="margin-top:15px;">Book Appointment</button> -->

                </div>
                </div><!-- /.row -->
            </div>
        </div>
    </div><!-- /.row -->
</div>
<!-- End Doctor Detail Section -->
{% endblock %}

