{% extends 'crud/base.html' %}

{% block content %}

    
    
    <div class="container">
        <div class="row">   
            <div class="col-md-5">
            <p><a href="/doctor">Back</a></p>
                <h1>Add Doctor Details</h1>
                <form enctype="multipart/form-data" method="POST" class="post-form" accept-charset="">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>

    
{% endblock %}