{% extends 'crud/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="section-title text-center">
            <h1>SMG Doctors</h1>
        </div>
        <div class="col-md-12">
            <a href="{% url 'crud.views.show_doctors' %}">
               <p>Our Doctors</p>
            </a>
        </div>
    </div>
</div>
       
{% endblock %}