{% extends 'crud/base.html' %}

{% block content %}
    
    	<!-- Start Portfolio Section -->   
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h3>Our Clinics</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                </div>
            </div>
            <div class="row">
    			{% for cli in clinics %}
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <div class="portfolio-details text-center">
                            <h4><a href="{% url 'crud.views.clinic_detail' pk=cli.pk %}">{{ cli.clinic_name }}</a></h4>
                            <a href="#"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div><!-- /.row -->
        </div>
<!-- End Portfolio Section -->

{% endblock content %}