{% extends 'crud/base.html' %}

{% block content %}

<!-- Start Team Member Section -->
 
<div class="container">
    <div class="row">
        <div class="section-title text-center">
            <h3>Our Doctors</h3>
        </div>
    </div>
    <div><a href="/"> <p>Back</p></div>
    <div class="row">
        {% for doc in docs %}

        <div class="col-md-3 col-sm-6">

            <h4><a href="{% url 'crud.views.doctor_detail' pk=doc.pk %}">{{ doc.title }}</a></h4>
            <div class="designation">Specialty: {{ doc.specialty}}</div>
            <div class="designation">Description: {{ doc.text}}</div>

        </div>
		{% endfor %}
    </div><!-- /.row -->
</div>
<!-- End Team Member Section -->
  
        <!-- End Feature Section -->
{% endblock content %}